<p id="notice"><%= notice %></p>

<p>
  <strong>Award:</strong>
  <%= @category.award_id %>
</p>

<p>
  <strong>Nominees:</strong>
  <%= @category.nominees %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @category.winner %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
